@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    overflow: hidden ;
}


.flex-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

body {
    overflow: none;
    margin: 0;
}

/*
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1vh
}*/

#html-main {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 88%;
    height: 88%;
    overflow: auto;
}

#html-main-half {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 50%;
    height: 88%;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-main {
    padding: 2vh 2vw;
    background-color: rgba(237, 237, 237, 0.9);
    border-radius: 18px;
    width: 100%;
}

/* hide when needed bruteforce method. i think its this or innerHTML and this is easier*/ 
.hidden {
    display: none;
    width: 0px;
    height: 0px;
}


.item-selection-screen {
    display: flex;
    padding: 2vh 2vw;
    background-color: gainsboro;
    border-radius: 12px;
    
}

.profile-picture {
    width: 5vw;
    height: 5vw;
    border-radius: 30%;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.page {
    background-color: gainsboro;
    margin: 5vh 5vw;
    border-radius: 24px;
    padding: 2vh 2vw;
}



/*listing items*/
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh 2vw
}

.listing-item {
    background-color: antiquewhite;
    border-radius: 24px;
    padding: 2vh 2vw;
    align-items: center;
    justify-content: center;
    flex: 1 0 20%;
}

.thumbnail {
    width: 20vw;
    height: 20vh;
}

.item-description {
    width: 90%;
}


/*item listing page*/
#selected-img {
    width: 40vw;
    height: 30vh;
    transition: 200ms opacity ease-in-out;

}

.image-carousell {
    display: flex;
    gap: 1vw;
}

.slide {
    width: 10vw;
    
}

/*date picker*/
.selector-option {
    cursor: pointer;
    margin: 0px;
    padding: 0.5vh 1vw;
}

.monthyear-selected {
    background-color: gray;
    border-radius: 12px;
    color: white;
}

.month-year {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#checkbox {
    cursor: pointer;
}

.toggle-img {
  transition: opacity 0.3s ease;
}
.toggle-img.fading {
  opacity: 0;
}

.affirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    gap: 0.5rem
}

/* progress bar + selected item section*/
.selected-item-section {
    position: absolute;
    top: 20%;
    left: 4%;
    width: 40%;
    height: 88%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.fullbar {
    width: 100%;
    height: 5vh;
    background-color: beige;
    border-radius: 1rem;
    border-color: red;
    border-width: 0.3rem;
    position: relative;
    border-style: solid;

}

.progressbar {
    width: 0%;
    margin: 0;
    height: 100%;
    border-radius: 1rem;
    background-color: aqua;
}

/* nav head */
#nav-page-head-listings {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0.5rem 3rem 0.5rem;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    gap: 1vw;
    align-items: center;
}

#nav-page-head-listings a {
    color: black;
    text-decoration: none;
}

.fake-arrow {
    user-select: none;
    font-weight: 600;
    margin: 0;
    font-size: 1.25rem;
}